@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding-top: 2rem;
  font-weight: normal;
  min-height: 100vh;
  width: 100%;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
}

header {
  margin: 0 auto;
}
